{% extends 'home/layout.html' %}
{% block content %}
    <div class="page-header">
        <h1>About Flask Casts</h1>
    </div>
    <p class="lead">
        The idea for this site came to me while travelling late July 2017. As a newbie
    to Python and Flask, I thought it would be a good way to add some discipline to my
    learning. The idea was to make screencasts about the topics and concepts as I learned
    them. Turns out, building the site itself with Flask and Python was a great learning
    experience. So hopefully you can follow along and I am able to teach you something as
    I learn myself.
    </p>
{% endblock %}