{% extends 'home/layout.html' %}
{% block content %}
    <form method="post">
        <legend>Edit Post: <small>{{ post._id }}</small></legend>

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title"  value="{{ post.title }}">
            <label for="slug">Post Slug</label>
            <input disabled type="text" class="form-control" name="slug" value="{{ post.slug }}">
            <label for="content">Content</label>
            <textarea class="form-control" rows="7" name="content">{{ post.content }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}