{% extends 'home/layout.html' %}
{% block content %}

    <form class="form-signin" method="post" action="{{ url_for('home.login') }}">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="user_id" class="sr-only">Username</label>
        <input type="user_id" name="user_id" id="user_id" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

{% endblock %}